
/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: white;
  display: block
}

div {
  text-align: center;
  font: 12px sans-serif;
  box-sizing: border-box;
}

.row {
  margin-bottom: 20px;
}

.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
  background-color: gray }

/* For devices above 319px
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 320px) and (max-width: 767px) {

  .container {
    width: 100%;
    padding: 0;
  }

  .column, .columns {
    margin-left: 16px;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one-sm.column,
  .one-sm.columns {
    width: calc(8.33333333% - 16px);
  }

  .one-sm.column:first-child,
  .one-sm.columns:first-child {
    width: 8.3333333%;
  }

  .two-sm.columns {
    width: calc(16.6666667% - 16px);
  }

  .two-sm.columns:first-child {
    width: 16.6666667%;
  }

  .three-sm.columns {
    width: calc(25% - 16px);
  }

  .three-sm.columns:first-child {
    width: 25%;
  }

  .four-sm.columns {
    width: calc(33.3333333% - 16px);
  }

  .four-sm.columns:first-child {
    width: 33.3333333%;
  }

  .five-sm.columns {
    width: calc(41.6666667% - 16px);
  }

  .five-sm.columns:first-child {
    width: 41.6666667%;
  }

  .six-sm.columns {
    width: calc(50% - 16px);
  }

  .six-sm.columns:first-child {
    width: 50%;
  }

  .seven-sm.columns {
    width: calc(58.3333333% - 16px);
  }

  .seven-sm.columns:first-child {
    width: 58.3333333%;
  }

  .eight-sm.columns {
    width: calc(66.6666667% - 16px);
  }

  .eight-sm.columns:first-child {
    width: 66.6666667%;
  }

  .nine-sm.columns {
    width: calc(75% - 16px);
  }

  .nine-sm.columns:first-child {
    width: 75%;
  }

  .ten-sm.columns {
    width: calc(83.3333333% - 16px);
  }

  .ten-sm.columns:first-child {
    width: 83.3333333%;
  }

  .eleven-sm.columns {
    width: calc(91.6666667% - 16px);
  }

  .eleven-sm.columns:first-child {
    width: 91.6666667%;
  }

  .twelve-sm.columns {
    width: 100%; margin-left: 0;
  }

}

/* For devices above 767px
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 768px) {

  .container {
    width: 100%;
  }

  .column,
  .columns {
    margin-left: 24px;
  }

  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }

  .one-lg.column,
  .one-lg.columns {
    width: calc(4.16666667% - 24px);
  }

  .one-lg.column:first-child,
  .one-lg.columns:first-child {
    width: 4.16666667%;
  }

  .two-lg.columns {
    width: calc(8.33333333% - 24px);
  }

  .two-lg.columns:first-child {
    width: 8.33333333%;
  }

  .three-lg.columns {
    width: calc(12.5% - 24px);
  }

  .three-lg.columns:first-child {
    width: 12.5%;
  }

  .four-lg.columns {
    width: 16.6666667%;
  }

  .four-lg.columns:first-child {
    width: 16.6666667%;
  }

  .five-lg.columns {
    width: calc(20.8333333% - 24px);
  }

  .five-lg.columns:first-child {
    width: 20.8333333%;
  }

  .six-lg.columns {
    width: calc(25% - 24px);
  }

  .six-lg.columns:first-child {
    width: 25%;
  }

  .seven-lg.columns {
    width: calc(29.1666667% - 24px);
  }

  .seven-lg.columns:first-child {
    width: 29.1666667%;
  }

  .eight-lg.columns {
    width: calc(33.3333333% - 24px);
  }

  .eight-lg.columns:first-child {
    width: 33.3333333%;
  }

  .nine-lg.columns {
    width: calc(37.5% - 24px);
  }

  .nine-lg.columns:first-child {
    width: 37.5%;
  }

  .ten-lg.columns {
    width: calc(41.6666667% - 24px);
  }

  .ten-lg.columns:first-child {
    width: 41.6666667%;
  }

  .eleven-lg.columns {
    width: calc(45.8333333% - 24px);
  }

  .eleven-lg.columns:first-child {
    width: 45.8333333%;
  }

  .twelve-lg.columns {
    width: calc(50% - 24px);
  }

  .twelve-lg.columns:first-child {
    width: 50%;
  }

  .thirteen-lg.columns {
    width: calc(54.1666667% - 24px);
  }

  .thirteen-lg.columns:first-child {
    width: 54.1666667%;
  }

  .fourteen-lg.columns {
    width: calc(58.3333333% - 24px);
  }

  .fourteen-lg.columns:first-child {
    width: 58.3333333%;
  }

  .fifteen-lg.columns {
    width: calc(62.5% - 24px);
  }

  .fifteen-lg.columns:first-child {
    width: 62.5%;
  }

  .sixteen-lg.columns {
    width: calc(66.6666667% - 24px);
  }

  .sixteen-lg.columns:first-child {
    width: 66.6666667%;
  }

  .seventeen-lg.columns {
    width: calc(70.8333333% - 24px);
  }

  .seventeen-lg.columns:first-child {
    width: 70.8333333%;
  }

  .eighteen-lg.columns { 
    width: calc(75% - 24px);
  }

  .eighteen-lg.columns:first-child {
    width: 75%;
  }

  .nineteen-lg.columns {
    width: calc(79.1666667% - 24px);
  }

  .nineteen-lg.columns:first-child {
    width: 79.1666667%;
  }

  .twenty-lg.columns {
    width: calc(83.3333333% - 24px);
  }

  .twenty-lg.columns:first-child {
    width: 83.3333333%;
  }

  .twentyone-lg.columns {
    width: calc(87.5% - 24px);
  }

  .twentyone-lg.columns:first-child {
    width: 87.5%;
  }

  .twentytwo-lg.columns {
    width: calc(91.6666667% - 24px);
  }

  .twentytwo-lg.columns:first-child {
    width: 91.6666667%;
  }

  .twentythree-lg.columns {
    width: calc(95.8333333% - 24px);
  }

  .twentythree-lg.columns:first-child {
    width: 95.8333333%;
  }

  .twentyfour-lg.columns {
    width: 100%; margin-left: 0;
  }

}


/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


